@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Raleway:wght@200&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Font Senttings*/
p {
  font-family: 'Quattrocento sans';
  font-size: 12pt;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-size: 30pt;
  margin-left: 1em;
}

h2{
  font-family: 'RALEWAY' ;
}

h3{
  font-family: 'RALEWAY';
}


/* Motto block */
.mottoBlock {
    text-align: center;
    font-size: 25pt;
    background-color: #b77c7e;
    padding: 10px 0;
  }
  .mottoBlock h2 {
    margin: 10px auto;
    font-family: "RALEWAY";
    font-weight: bold;
    font-size: 30pt;
  }
  
  /*What Do doulas do */
  #purpose {
    text-align: center;
    margin-top: 10em;
  }
  #purpose h1 {
    text-align: left;
  
  
  }
  #purpose .purposeText{
    width: 80%;
    margin: 0 auto;
  }
  #purpose h3{
    color: #b77c7e;
    font-size: 18pt;
  }
  #purpose p{
    font-size: 15pt;
  }
  #purpose .quote h1{
    text-align: center;
    font-size: 30pt;
  }