@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Raleway:wght@200&family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* Font Senttings*/
p {
  font-family: "Quattrocento sans";
  font-size: 12pt;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 30pt;
  margin-left: 1em;
}

h2 {
  font-family: "RALEWAY";
}

h3 {
  font-family: "RALEWAY";
}

.contactUsImage img {
  display: block;
  margin: 8% auto;
  border-radius: 2em;
}
.consultForm  {
  /*background-color: #d6c1ad;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  padding: 5% 10%;
  width: 50%;
  min-width: 635px;
}

.colLbl {
  font-family: "Quattrocento sans";
  font-size: 12pt;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 2em 0;
  border: none;
  border-bottom: 2px solid #b77c7e;
  border-radius: 1em;
}

.buttons {
  align-content: center;
  padding-left: 4em;
  display: block;
  height: 72px;
}
.buttons a {
  padding-left: 45%;
}

input[type="submit"] {
  width: 25%;
  background-color: #b77c7e;
  color: #d6c1ad;
  height: 3em;
  min-width: 100px;
  border-radius: 0.5em;
  font-size: 18pt;
  font-family: "RALEWAY";
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #894b60;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: 10px 10px 8px #888888;
}
 .backButton {
  width: 25%;
  background-color: #b77c7e;
  color: #d6c1ad;
  height: 3em;
  min-width: 100px;
  border-radius: 0.5em;
  font-size: 18pt;
  font-family: "RALEWAY";
  text-decoration: none;
}
.backButton:hover {
  cursor: pointer;
  background-color: #894b60;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: 10px 10px 8px #888888;
  
}
.footer {
  margin: 50px auto 1em auto;
  background-color: #d6c1ad;
  padding: 0 1em;
  display: flex;
  font-size: 10pt;
  text-decoration: none;
}
.footer p {
  font-size: 10pt;
}
